<!doctype html>
<head>
   <meta charset="utf-8"/>
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1"/>
   <title>{{work.doi | upper}}</title>
   <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
   <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"/>
   <style type="text/css">
      table {
      font-size: 105% !important;
      }
   </style>
</head>
<body>
 <div class="container">
   <div class="page-header">
      <h3>{{work.doi | upper}}</h3>
   </div>
   <div class="panel panel-success">
      <div class="panel-heading">
         <h3 class="panel-title">Overview</h3>
      </div>
      <div class="panel-body">
         <table class="table table-striped">
            <tr>
               <td>Title</td>
               <td itemprop="name">{{work.title}}</td>
            </tr>
            <tr>
               <td>Authors</td>
               <td>
                  {% for aut in work.authors %}
                  {% if aut.nameType == "Organizational" or not aut.givenName %}
                  {{aut.name}} {% if not loop.last %},{% endif %}
                  {% else %}
                  {{aut.givenName}} {{aut.familyName}}{% if not loop.last %},{% endif %}
                  {% endif %}
                  {% endfor %}
               </td>
            </tr>
            <tr>
               <td>Description</td>
               <td itemprop="description">
                  {{work.description}}
               </td>
            </tr>
            <tr>
               <td>Year</td>
               <td>{{work.year}}</td>
            </tr>
            <tr>
               <td>doi</td>
               <td itemprop="identifier"> {{work.doi | upper}} </td>
            </tr>
            <tr>
               <td>Access constraints</td>
               <td>
		 {{work.access_constraints[0]['rights']}}
                 {% if work.access_constraints[0]['rightsUri'] %}
                 <a href={{work.access_constraints}}> {{work.access_constraints[0]['rightsUri']}} </a>
                 {% endif %}
               </td>
            </tr>
	    {% if work.reference %}
	    <tr>
               <td>Reference</td>
               <td>
	       {{work.reference['title']}}
	       {% for aut in work.reference.author %}
	       {{aut.given}} {{aut.family}}{% if not loop.last %},{% endif %}
	       {% endfor %}
	       {{work.reference['doi']}}
               </td>
            </tr>
	    {% endif %}
         </table>
      </div>
   </div>
   <div class="panel panel-success">
      <div class="panel-heading">
         <h3 class="panel-title">Download</h3>
      </div>
      <div class="panel-body">
        {% if data_link %}
        {% if 'http' in data_link  %}
        <a href={{data_link}}> {{data_link}} </a>
        {% elif '@' in data_link %}
        Please contact <a href="mailto:{{data_link}}?subject=Requesting access to DOI: {{work.doi | upper}}"> {{data_link}} </a> in order to apply for access.
        {% else %}
        {{data_link}}
        {% endif %}
        {% endif %}
      </div>
   </div>
 </div>
</body>
